version: '3.9'

services:
  # run unit tests to check the bpftrace images before release
  unit-test:
    build:
      context: .
      dockerfile: build/core/Dockerfile
    volumes:
      - /sys:/sys:rw
    ulimits:
      memlock:
        soft: -1
        hard: -1
    entrypoint: ["/usr/local/app/entrypoint/units.sh"]

  # trace help only builds the image and runs the help command
  # to ensure the docker pipeline works without any errors.
  trace-help:
    build:
      context: .
      dockerfile: build/core/Dockerfile
    entrypoint: ["python3", "/usr/local/app/entrypoint/trace.py"]
    command: ["-h"]

  # user end-to-end test runs a tracing operation to validate the
  # program functionality. If it works successfully, you should be able
  # to see the output in tests/logs directory.
  e2e:
    build:
      context: .
      dockerfile: build/core/Dockerfile
    privileged: true
    network_mode: host
    pid: host
    user: root
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /sys:/sys:rw
      - ./tests/logs:/logs:rw
    entrypoint: ["python3", "/usr/local/app/entrypoint/trace.py"]
    command: ["-c", "ls", "-o", "/logs/trace_ls"]

volumes:
  logs:
