{{ begin_section }}

/* read enter + exit */
tracepoint:syscalls:sys_enter_read
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN read}{fd=%d count=%d}\n", nsecs, pid, tid, comm, args->fd, args->count);
}

tracepoint:syscalls:sys_exit_read
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX read}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* write enter + exit */
tracepoint:syscalls:sys_enter_write
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN write}{fd=%d count=%d}\n", nsecs, pid, tid, comm, args->fd, args->count);
}

tracepoint:syscalls:sys_exit_write
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX write}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* pread64 enter + exit */
tracepoint:syscalls:sys_enter_pread64
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN pread64}{fd=%d count=%d}\n", nsecs, pid, tid, comm, args->fd, args->count);
}

tracepoint:syscalls:sys_exit_pread64
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX pread64}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* pwrite64 enter + exit */
tracepoint:syscalls:sys_enter_pwrite64
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN pwrite64}{fd=%d count=%d}\n", nsecs, pid, tid, comm, args->fd, args->count);
}

tracepoint:syscalls:sys_exit_pwrite64
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX pwrite64}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* readv enter + exit */
tracepoint:syscalls:sys_enter_readv
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN readv}{fd=%d count=%lu}\n", nsecs, pid, tid, comm, args->fd, args->vlen);
}

tracepoint:syscalls:sys_exit_readv
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX readv}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* writev enter + exit */
tracepoint:syscalls:sys_enter_writev
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN writev}{fd=%d count=%lu}\n", nsecs, pid, tid, comm, args->fd, args->vlen);
}

tracepoint:syscalls:sys_exit_writev
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX writev}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* preadv enter + exit */
tracepoint:syscalls:sys_enter_preadv
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN preadv}{fd=%d count=%lu}\n", nsecs, pid, tid, comm, args->fd, args->vlen);
}

tracepoint:syscalls:sys_exit_preadv
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX preadv}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* pwritev enter + exit */
tracepoint:syscalls:sys_enter_pwritev
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN pwritev}{fd=%d count=%lu}\n", nsecs, pid, tid, comm, args->fd, args->vlen);
}

tracepoint:syscalls:sys_exit_pwritev
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX pwritev}{ret=%d}\n", nsecs, pid, tid, comm, args->ret);
}

/* mmap enter + exit */
tracepoint:syscalls:sys_enter_mmap
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN mmap}{fd=%d addr=%lu len=%lu}\n", nsecs, pid, tid, comm, args->fd, args->addr, args->len);
}

tracepoint:syscalls:sys_exit_mmap
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX mmap}{ret=%lu}\n", nsecs, pid, tid, comm, args->ret);
}
