{{ begin_section }}

/* page fault user */
tracepoint:exceptions:page_fault_user
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN page_fault_user}{addr=%lu}\n", nsecs, pid, tid, comm, args->address);
  @start[tid] = nsecs;
}

kretprobe:handle_mm_fault
/ @start[tid] /
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX handle_mm_fault}{latency=%llu}\n", nsecs, pid, tid, comm, nsecs - @start[tid]);
  delete(start[tid]);
}