{{ begin_section }}

kprobe:handle_mm_fault
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EN handle_mm_fault}{}\n", nsecs, pid, tid, comm);
}

kretprobe:handle_mm_fault
{{ filter }}
{
  printf("%llu {pid=%d tid=%d proc=%s}{EX handle_mm_fault}{}\n", nsecs, pid, tid, comm);
}